.footer{
    position:fixed;
    top:97%;
    color:white;
}


.navbar{
    position:fixed;
    top:0%;
}
.body{
    position:absolute;
    top:5%;
    height:100%;
    width:100%;
    background: #6699ff;
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;

}
.downer{
    background-color: #6699ff;
    height: 2000%;
   
}
@font-face {
    font-family: Nehama;
    src: url("fonts/Nehama.ttf");
}
body{
    overflow: hidden;
    font-family: Nehama;
    color:white;

}

