.footer{
    position:fixed;
    top:95%;
    color:white;
}
.navbar{
    position:fixed;
    top:0%;
}
.body{
    position:absolute;
    top:5%;
    height:100%;
    width:100%;
    background-color: #b3b3ff;
    color:white;
}
a{
    text-decoration: none;
}
a:visited{
    color:black;
}
a:hover{
    background-color:#b3b3ff;
    color:white;
}
